<div class="modal-background">
  <div class="modal-content">
    <span class="close-button" (click)="closeDialog()">&times;</span>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <input type="text" class="form-control" id="descricao" placeholder="Digite a descrição" [(ngModel)]="descricao">
    </div>
    <div class="mb-3">
      <label for="responsavel" class="form-label">Responsável</label>
      <input type="text" class="form-control" id="responsavel" placeholder="Digite o responsável" [(ngModel)]="responsavel">
    </div>
    <div class="mb-3">
      <label for="prioridade" class="form-label">Prioridade</label>
      <select class="form-select" id="tarefaTipoId" [(ngModel)]="tarefaTipoId">
        <option [value]="1">Baixa</option>
        <option [value]="2">Média</option>
        <option [value]="3">Alta</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select class="form-select" id="statusId" [(ngModel)]="statusId">
        <option [value]="1">Não Inicializada</option>
        <option [value]="2">Em Andamento</option>
        <option [value]="3">Concluída</option>
      </select>
    </div>
    <!-- Botão Criar -->
    <button *ngIf="!tarefaId" type="button" class="btn btn-primary" (click)="addTarefa()">Criar</button>
    <!-- Botão Update -->
    <button *ngIf="tarefaId" type="button" class="btn btn-primary" (click)="updateTarefa()">Update</button>
  </div>
</div>